venv/
*.exe
*.dll
*.pyc
db.sqlite3
settings.py
staticfiles
# Ignore cache files
*~
*.bak
*.swp
*.tmp
*.temp
.DS_Store
media
# Ignore cache directories
__pycache__/
.pytest_cache/
node_modules/
.sass-cache/
*.sqlite3
*.db
*/migrations/*.py
*/migrations/*.pyc
news_portal/settings.py
venv/